
body {
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://wallpapers.com/images/hd/cybersecurity-background-wjrgl4k1buq1aa5h.jpg') no-repeat center center fixed;
}

.login-container {
    background: #fff;
    color: #000;
    padding: 2rem 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.login-container h2 {
    margin: 0 0 1rem 0;
    text-align: center;
    font-weight: 700;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 90%;
    padding: 0.60rem;
    border: 3px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    background: #f9f9f9;
    color: #000;
}

.login-container button {
    width: 100%;
    padding: 0.70rem;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
    margin-top: 12px;
}

.login-container button:hover {
    background: #222;
}

.p {
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.login-container a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    margin-top: 12px;
}
.login-container a:hover {
    text-decoration: underline;
    color: #072aef;
}

@media (max-width: 480px) {
    .login-container {
        padding: 1.2rem 0.5rem;
        max-width: 95vw;
    }
}